.center-text {
  text-align: center;
  margin-top: -10px;
  height: 100%;
}

.contact-header {
  padding-top: 30px;
}

.contact {
  padding: 20px;
  margin-top: 15px;
}

h4 {
  padding: 20px;
}

.vimeo-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
