.bg-colors {
  background-color: rgb(112, 121, 113, 1);
  margin-bottom: -40px;
}

.chumash {
  color: #5E0707;
  padding: 10px;
  margin: -35px;
  background-color: #EDDCC7;
  border: 1px solid #CBB497;
  box-shadow: 5px 10px #D3BDA1;
  text-align: center;
}

.endorse-header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

.big {
  text-align: center;
  font-style: italic;
  padding: 15px;
  color: #5E0707;
}

.shadow-box {
  border: 1px solid black;
  background-color: #EDDCC7;
  box-shadow: 5px 10px black;
}
