.books {
  padding: 25px;
  width: 100%
}

.card {
  margin: 0 auto;
  float: none;
}

.book {
  display: flex;
  justify-content: center;
}

.card-color {
  background-color: #FFEDC4;
}

.btn {
  margin: 2px;
  justify-content: center;
}
