.teacher-guides {
  padding: 40px;
  width: 100%;
  margin-bottom: -20px;
  margin-right: -20px;
}

.card {
  margin: 0 auto;
  float: none;
}

.book {
  display: flex;
  justify-content: center;
}

.teach-color {
  background-color: #FFEDC4;
  height: 830px;
}

.btn {
  margin: 2px;
  justify-content: center;
}
